apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "finops-enforcer.fullname" . }}-role
  labels:
    {{- include "finops-enforcer.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - pods
      - services
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - finops.io
    resources:
      - enforcementpolicies
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - finops.io
    resources:
      - enforcementpolicies/status
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - create
      - update
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "finops-enforcer.fullname" . }}-rolebinding
  labels:
    {{- include "finops-enforcer.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "finops-enforcer.fullname" . }}-role
subjects:
  - kind: ServiceAccount
    name: {{ include "finops-enforcer.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
