apiVersion: v1
kind: Service
metadata:
  name: {{ include "finops-enforcer.fullname" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "finops-enforcer.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "finops-enforcer.selectorLabels" . | nindent 4 }}
